* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color:black;
}
.contain, .cart {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: red;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    .contain, .cart {
        width: 90%;
        padding: 20px;
    }
}
input:focus {
    border-color: #704caf;
    outline: none;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
